.division{
    width:50%;
    height:80px;
    float:left;
  }

  body{
    margin: 10px;
    overflow-x: hidden;
  }

  a:link {
    color: black;
  }



  .applink>li
  {
      margin-bottom : 20px;
  }

  .tech{
      color:darkgreen;
  }